/*demo styles*/
body{font: 14px sans-serif;}
.field{margin: 1em 0;}
.radGroup{padding: 0;margin: 0}
.radGroup li{list-style: none;padding:0;}


/*Required for plugin*/
.fieldError{
	color: red; 
	display: none;
}
.fieldErrorOn{display: inline;}