/* Styles to make the Demo cooler, not required for revalidate to work correctly */
html,body{
	margin:0; padding:0;
	font: 14px/1.5 sans-serif;
	height: 100%}
body{text-align: center;}
#page{
	text-align: left;
	max-width: 480px;
	min-height: 100%;
	padding: 1px 10px;
	margin: 0 auto;
	box-shadow: 0 0 10px rgba(0,0,0,.5)}
fieldset{margin: 1em 0;}
.field{margin: 1em 0;}
.field label{display: block;}
.cb label{display: inline;}
.radGroup{padding: 0;margin: 0}
.radGroup li{list-style: none;padding:0;}
.radGroup label{display: inline;}

/* Pretty forms. Totally optional but make for a nicer demo */
input,textarea{font-size: 14px;}

input[type='text'],
input[type='password'],
input[type='email'],
/*input[type=search], search has poor cross-browser styles */ 
input[type='number']
{
	border-radius: 4px;
	border: 1px solid #bbb;
	padding: 4px 6px;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.35);
}