/*demo styles*/
html,body{font: 14px sans-serif;}
.field{margin: 1em 0;}
.radGroup{padding: 0;margin: 0}
.radGroup li{list-style: none;padding:0;}


/*Required for plugin*/
.invalid{
	background: #ffc;
}
input[type=checkbox].invalid{outline: red 1px solid}
#validatorTooltip{position: absolute; display: none;}
#validatorTooltipContent{
	box-shadow: 0 2px 2px rgba(0,0,0,.6);
	padding: 8px;
	font-size: 11px;
	border: 1px solid #aaa;
	background: #ffc;
}
.carrotTop div,
.carrotBottom div,
.carrotTop,
.carrotBottom{
	border: solid;
	border-width: 8px 8px 2px;
	border-color: #999 transparent transparent;
	width: 0;
	margin: 0 0 0 8px;
	position: relative;
	/*no carrots for ie6*/
	_display: none;
}
.carrotTop div,
.carrotBottom div{
	position: absolute;
	border-color: #ffc transparent transparent;
	margin: -9px 0 0 -7px;
	border-width: 7px 7px 2px}
.carrotTop div{
	border-color: transparent transparent #ffc;
	margin: 0 0 0 -7px;
	border-width: 2px 7px 7px}
.carrotTop{
	display: none;
	border-width: 2px 8px 8px;
	border-color: transparent transparent #999;
}
.bottom .carrotTop{display: block;}
.bottom .carrotBottom{display: none;}